.bottom_nav {
  position: relative;

  nav {
    ul {
      display: flex;
      justify-content: space-between;

      li {
        a {
          color: #fff;
        }
      }
    }
  }

  &_links {
    display: flex;
    column-gap: 7rem;
  }
}

.addpost {
  position: absolute;
  left: 45%;
  top: -135%;

  @media (max-width: 23.39em) {
    left: 43%;
    top: -120%;
  }
}
