.header_container {
  position: sticky;
  top: -0.5px;
  z-index: 100;
  backdrop-filter: blur(12px);
  border-bottom: #eff3f4 solid 1px;
}

.header {
  height: 10.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.9rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 1px 13px #ffffff26;
  position: relative;
  z-index: 1000000;
  position: sticky;
  width: 100%;
  top: -0.5px;

  @media (max-width: 31.2em) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 3rem;
  }

  .logo {
    font-weight: 600;
    font-size: var(--font-header);
    color: var(--icon-active-color);
  }

  .user {
    display: flex;
    align-items: center;

    &__notification {
      img {
        max-height: 7rem !important;
      }
    }
  }

  .user_info {
    display: flex;
    align-items: center;
    padding-right: 1.6rem;
    column-gap: 1rem;

    &__image {
      // border: 2px solid var(--btn-bg-color);
      border-radius: 100px;
      height: 6rem;
      width: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        // max-width: 10rem !important;
        max-height: 7rem !important;
      }
      @media (max-width: 40.43em) {
        width: 80%;
      }
    }

    &__username {
      padding-right: 1.6rem;
      @media (max-width: 40.43em) {
        display: none;
      }

      p {
        font-size: var(--font-p-text-3);
        color: var(--font-text-dark);
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.2rem 0 1.9rem;
  height: 100%;

  nav {
    margin: 0 6.9rem;

    @media (max-width: 80em) {
      margin: 0 2rem;
    }

    @media (max-width: 40.43em) {
      margin: 0 1rem;
    }

    ul {
      @media (max-width: 31.2em) {
        display: flex;
        justify-content: space-around;
      }
    }
  }

  a {
    font-size: 2rem;
  }

  .active span {
    color: var(--icon-active-color);
  }

  nav > ul > li > a {
    font-family: Nunito;
    font-size: var(--font-p-text-3);
    color: #3f3f3f;
    display: flex;
    align-items: center;
    padding: 1.3rem 1rem;

    span {
      @media (max-width: 80em) {
        display: none;
      }
    }
    &:hover {
      background-color: #0056781e;
      border-radius: 30px;
      transition: color 100ms ease-out;
    }

    &:focus {
      // color: #005678;
    }
    span {
      margin-bottom: -0.5rem;
      padding-left: 1.6rem;
    }
  }

  &_btn {
    width: 27.4rem;
    // height: 4rem;
    border-radius: 6px;
    margin: 3.2rem 0;
    padding: 1rem;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;

    @media (max-width: 80em) {
      display: none;
    }
  }

  .toggle {
    @media (max-width: 40.43em) {
      display: none;
    }
  }
}

.explore {
  padding: 0 2.7rem 0 3.1rem;
  // position: relative;

  h2 {
    font-weight: 600;
    font-size: 2.4rem;
    padding: 2rem 0 0.8rem 0;
  }

  &_search {
    position: relative;
    display: flex;
    min-width: 100%;

    input {
      height: 5rem;
      width: 37.6rem;
      border-radius: 30px;
      border: 1px solid #dededf;
      padding-left: 6.1rem;
      font-weight: 500;
      font-size: 1.8rem;
      color: var(--font-text-dark);
      outline: none;
      background-color: var(--main-bg-color);
    }

    &__icon {
      position: absolute;
      transform: translate(1.5rem, 1rem);
      width: 3rem;
      cursor: pointer;
    }
  }

  &_details {
    background-color: #bbbbbb34;
    margin-top: 1.6rem;
    padding: 2.2rem 2.5rem;
    border-radius: 15px 15px 0 0;

    &__items {
      display: flex;
      align-items: center;
      column-gap: 1.8rem;
      margin-bottom: 1.6rem;

      p {
        font-weight: 400;
        font-size: 1.5rem;
        color: var(--font-text-dark);
      }
    }
  }
}

.home {
  border-left: 1px solid rgba(0, 0, 0, 0.02);
  border-right: 1px solid rgba(0, 0, 0, 0.02);

  @media (max-width: 31.2em) {
    // margin-bottom: 10rem;
    // height: 100rem;
  }
  .heading {
    background-color: #fff;
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(11px);
  }
  h2 {
    padding: 1.6rem 1.5rem 2.2rem;
    font-weight: 600;
    font-size: var(--font-p-text-3);

    @media (max-width: 31.2em) {
      display: none;
    }
  }

  &_main {
    padding: 1rem 1rem;
    background-color: var(--secondary-bg-color);
    height: 100%;
    margin-bottom: 6rem;

    @media (max-width: 31.2em) {
      padding: 0;
      background-color: var(--main-bg-color);
    }
  }

  .btn_upload {
    position: relative;
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    justify-content: center;
    // padding: 3.5rem 0;
    overflow: hidden;

    background: #f3fff7;
    // border: 1px dashed #81f9a4;
    border-radius: 72px;
    width: 100%;
    margin-top: 3rem;

    input[type='file'] {
      cursor: pointer;
      position: absolute;
      transform: scale(3);
      opacity: 0;
    }
  }

  .images_prev_container {
    display: flex;
    column-gap: 2rem;
  }

  &_post {
    padding: 2.2rem;
    background: var(--main-bg-color);
    border-radius: 10px;

    &__avatar {
      width: 20%;
    }

    @media (max-width: 31.2em) {
      display: none;
    }

    &__input {
      display: flex;
      word-wrap: break-word;
      padding-bottom: 4.4rem;

      textarea {
        font-weight: 400;
        font-size: var(--font-p-text-1);
        padding-left: 2.4rem;
        color: var(--font-text-dark);
        overflow: hidden;
        resize: none;
        width: 100%;
        background: var(--main-bg-color);
        outline: none;
      }
    }
    &__btn_icon {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icons {
        display: flex;
        align-items: center;
        column-gap: 3rem;
      }

      input {
        width: 13.8rem;
        height: 4rem;
        border-radius: 6px;
        font-weight: 700;
        font-size: var(--font-p-text-1);
        text-align: center;
        color: var(--font-text-white);
        background: var(--btn-bg-color);
        cursor: pointer;
      }
    }
  }

  &_feeds {
    background: var(--main-bg-color);
    margin: 0.8rem 0;
    border-radius: 10px;
    padding: 2.2rem;
    display: flex;
    column-gap: 1.6rem;

    // flex-direction: column;
    @media (max-width: 31.2em) {
      margin: 0;
      border-radius: 0 0 10px 10px;
      border-bottom: #f5fcff1a solid 1px;
    }

    &__user_img {
      background-color: #fff;
      align-self: flex-start;
      border-radius: 48px;
      // padding: 0.5rem;
      img {
        // max-width: 7rem !important;
        border-radius: 48px;
        height: 5rem;
        width: 5rem;
        object-fit: cover;
      }
    }

    &_container {
      // display: flex;
      width: 80%;
    }

    &__post {
      color: #01012b;
      // position: relative;

      &_username {
        h4 {
          font-size: var(--font-p-text-1);
          font-weight: 600;
          text-transform: capitalize;
        }
      }

      &_text {
        p {
          font-size: var(--font-p-text-2);
          font-weight: 400;
        }
      }

      &_img {
        display: flex;
        column-gap: 1.5rem;
        width: 100%;

        img {
          width: 40%;
          margin-bottom: 2%;
          background: var(--secondary-bg-color);
          object-fit: contain;
        }
      }

      &_icons {
        display: flex;
        justify-content: flex-start;
        column-gap: 3rem;
        padding-top: 0.8rem;
      }
    }
  }

  .submit_btn {
    display: flex;
    align-items: center;
    position: relative;
    input {
    }

    &__load {
      position: absolute;
      right: 5px;
    }
  }
}

.sidebar_bottom {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 2rem;
  bottom: 0px;
  background-color: var(--header-bg-color);
  backdrop-filter: blur(11px);

  @media (min-width: 31.2em) {
    display: none;
  }
}
