.loader {
  animation:spin 1s infinite linear;
  border:solid .6rem transparent;
  border-radius:50%;
  border-right-color:#09f;
  border-top-color:#09f;
  border-bottom-color:#09f;
  box-sizing:border-box;
  height: 3rem;
  right: 2rem;
  position: absolute;
  bottom: 1rem;
  width: 3rem;
  z-index:1;
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}