.onboarding__left {
    // background-image: url(../../assets/Open_Doodles_Zombieing.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    // padding-left: 5rem;
    flex-direction: column;

    @media (max-width: 46.88em) {
        display: none;
    }
    
    &_image_illus {
        img {
            height: 50%;
            width: 90%;
        }
    }
    
    &__p {
        margin-bottom: 5rem;
        padding-left: 5rem;
        padding-top: 2rem;
        font-family: "Nunito";
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
        width: 50.524rem;
        color: #005678;
        padding-bottom: 1rem;
    }
}
