@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  //Colors
  --main-bg-color: #01012B;
  --secondary-bg-color: rgb(29 29 58);
  --icon-active-color: #FF2A6D;
  --btn-bg-color: #05D9E8;
  --btn-color-black: #01012B;

  //Fonts
  --font-header: 3.2rem;
  --font-p-text-1: 1.6rem;
  --font-p-text-2: 1.8rem;
  --font-p-text-3: 2.4rem;

  --font-text-white: #fff;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  

    @media (max-width: 75em) {
        font-size: 56.25%;
      }

    @media (max-width: 56.25em) {
        font-size: 50%;
      }

    @media (max-width: 23.43em) {
        font-size: 35.25%;
      }
}

a {
  color: inherit;
  text-decoration: none;
}

p, h2, h3, h4 {
  color: var(--font-text-white);
}
button {
  background-color: var(--btn-bg-color);
  color: var(--btn-color-black);
}

* {
  box-sizing: border-box;
}
