@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  //Colors
  --main-bg-color: #fff;
  --header-bg-color: #01012b83;
  --secondary-bg-color: rgb(239, 239, 240);
  --icon-active-color: #7d7abc;
  --btn-bg-color: #7d7abc;
  --btn-color-black: #01012b;
  --btn-color-white: #fff;

  //Fonts
  --font-header: 3.2rem;
  --font-p-text-1: 1.6rem;
  --font-p-text-2: 1.8rem;
  --font-p-text-3: 2.4rem;

  --font-text-white: #fff;
  --font-text-dark: #3f3f3f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  background-color: var(--main-bg-color);
  // min-height: -webkit-fill-available;

  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  @media (max-width: 56.25em) {
    font-size: 50%;
  }

  @media (max-width: 23.43em) {
    font-size: 35.25%;
  }
}

body {
  // min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h2,
h3,
h4 {
  color: var(--font-text-dark);
}
button {
  background-color: var(--btn-bg-color);
  color: var(--btn-color-white);
  box-shadow: 0px 17px 33px -3px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}
