.onboarding {
  display: grid;
  grid-template-columns: 46.3% auto;
  align-items: center;

  @media (max-width: 46.88em) {
    // grid-template-columns: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }

  .onboarding__right {
    max-width: 46rem;
    padding-left: 9rem;
    // padding-top: 10rem;

    @media (max-width: 46.88em) {
      align-items: start;
      padding-top: 10rem;
    }

    @media (max-width: 46.88em) {
      max-width: 100%;
      margin: 0 auto;
      padding-left: 0rem;
    }

    &_signup {
      padding-top: 7rem;
    }

    .no_account {
      p {
        font-family: Nunito;
        font-size: 1.8rem;
        line-height: 2.5rem;
        align-items: center;
        color: #696f79;

        span {
          color: #05d9e8;
        }
      }
    }
  }
}
