.onboarding {
    grid-template-columns: 46.3% auto;

    @media (max-width: 46.88em) {
        grid-template-columns: 100%;
    }
    
    .onboarding__right {
        max-width: 46rem;
        padding-left: 9rem;
        padding-top: 10rem;
        
        @media (max-width: 46.88em) {
            align-items: start;
            padding-top: 10rem;
        }

        @media (max-width: 46.88em) {
            max-width: 100%;
            margin: 0 auto;
            padding-left: 0rem;
        }

        &_signup {
            padding-top: 7rem;           
        }

        .no_account {
            p {
                font-family: Nunito;
                font-size: 1.8rem;
                line-height: 2.5rem;
                align-items: center;
                color: #696F79;
                
                span {
                    color: #05D9E8;
                }
            }
        }
    }
}